@use '../abstracts';

.af-calc__btn {
	&-container {
		display: flex;
		justify-content: flex-end;
	}
	&-color-mode-switch {
		display: inline-block;
		margin: 0px;
		position: relative;
		> label.af-calc__btn-color-mode-switch-inner {
			margin: 0px;
			width: 140px;
			height: 40px;
			background-color: abstracts.$color1;
			border-radius: 26px;
			overflow: hidden;
			position: relative;
			transition: all 0.3s ease;

			display: block;
			&:before {
				content: attr(data-on);
				@include abstracts.absoluteCenterY();
				font-size: 20px;
				font-weight: 600;
				right: 2rem;
				color: abstracts.$color4;
			}
			&:after {
				content: attr(data-off);
				@include abstracts.absoluteCenterY();
				width: 46%;
				height: calc(100% - 20%);
				// height: 25px;
				background: abstracts.$color4;
				border-radius: 2.6rem;
				display: flex;
				justify-content: center;
				align-items: center;
				left: 0.4rem;
				transition: abstracts.$defaultTransitionDuration;
				padding: 5px 0px;
				color: abstracts.$color1;
				font-weight: 600;
			}
		}
		input[type='checkbox'] {
			cursor: pointer;
			width: 50px;
			height: 25px;
			opacity: 0;
			position: absolute;
			top: 0;
			z-index: 1;
			margin: 0px;
			&:checked + label.af-calc__btn-color-mode-switch-inner {
				background-color: abstracts.$color1;
				&:after {
					content: attr(data-on);
					left: 68px;
				}
				&:before {
					content: attr(data-off);
					right: auto;
					left: 20px;
				}
			}
		}
	}
}

.af-calc__input {
	&-group {
		display: flex;
		gap: 2.4rem;
		// grid-template-columns: repeat(3, 1fr);
	}
}

.af-calc__slider {
	width: 100%;
}

// Range Slider

$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.af-calc__slider-container {
	width: $range-width;
}

.af-calc__slider {
	-webkit-appearance: none;
	width: calc(100% - (#{$range-label-width + 13px}));
	height: $range-track-height;
	border-radius: 5px;
	background: $range-track-color;
	outline: none;
	padding: 0;
	margin: 0;

	// Range Handle
	&::-webkit-slider-thumb {
		appearance: none;
		width: $range-handle-size;
		height: $range-handle-size;
		border-radius: 50%;
		background: $range-handle-color;
		cursor: pointer;
		transition: background 0.15s ease-in-out;

		&:hover {
			background: $range-handle-color-hover;
		}
	}

	&:active::-webkit-slider-thumb {
		background: $range-handle-color-hover;
	}

	&::-moz-range-thumb {
		width: $range-handle-size;
		height: $range-handle-size;
		border: 0;
		border-radius: 50%;
		background: $range-handle-color;
		cursor: pointer;
		transition: background 0.15s ease-in-out;

		&:hover {
			background: $range-handle-color-hover;
		}
	}

	&:active::-moz-range-thumb {
		background: $range-handle-color-hover;
	}

	// Focus state
	&:focus {
		&::-webkit-slider-thumb {
			box-shadow: 0 0 0 3px $shade-0, 0 0 0 6px $teal;
		}
	}
}

// Range Label
.af-calc__slider-value {
	display: inline-block;
	position: relative;
	width: $range-label-width;
	color: $shade-0;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: $range-label-color;
	padding: 5px 10px;
	margin-left: 8px;

	&:after {
		position: absolute;
		top: 8px;
		left: -7px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-right: 7px solid $range-label-color;
		border-bottom: 7px solid transparent;
		content: '';
	}
}

// Firefox Overrides
::-moz-range-track {
	background: $range-track-color;
	border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
	border: 0;
}
