$color0: hsla(18, 100%, 57%, 100%);
$color1: hsla(218, 35%, 20%, 100%);
$color2: hsla(346, 32%, 13%, 100%);
$color3: hsla(0, 5%, 26%, 100%);
$color4: hsla(330, 20%, 96%, 100%);
$color5: hsla(0, 0%, 100%, 100%);
$color6: hsla(219, 17%, 44%, 100%);
$color7: hsla(210, 100%, 98%, 100%);
$color8: hsla(20, 100%, 98%, 100%);

$defaultFontSize: 2rem;
$defaultFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;

$defaultShadow: rgba(0, 0, 0, 0.1) 0px 4px 18px;

$defaultBorderRadius: 1%;

$defaultTransitionDuration: 0.3s;

// $slant: 2.2rem;
$border: 0.5rem;
//PLACEHOLDERS
